

.App-logo {
    /*animation: App-logo-spin infinite 20s linear;*/
    height: 20vmin;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.logo-name{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.App-header {
    min-height: 10vh;
    display: flex;
    background-color: #bfe8fb;
    font-size: calc(10px + 2vmin);
    color: white;
    border-color: #bfe8fb;
    border-style: none dashed none none;
}

#main-wrapper{
    text-align: center;
    background-color: #bfe8fb;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}
.App-link {
    color: #d6d6d6;
}

@keyframes App-logo-spin {
    from {
    transform: rotate(0deg);
    }
    to {
    transform: rotate(360deg);
    }
}

/*error page */
#wolves {
    background-image: url("./images/wolves.jpg");
}